<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>McQuiz 2.0</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
        <div id="app">
                <h1>{{ quiz.title }}</h1>
                <div v-for="(question, index) in quiz.questions">
                  <div v-show="index === questionIndex">
                    <h2>{{ question.text }}</h2>
                    <ol>
                      <li v-for="response in question.responses">
                        <label>
                          <input type="radio" 
                                 v-bind:value="response.correct" 
                                 v-bind:name="index" 
                                 v-model="userResponses[index]"> {{response.text}}
                        </label>
                      </li>
                    </ol>
                    <button v-if="questionIndex > 0" v-on:click="prev">
                      prev
                    </button>
                    <button v-on:click="next">
                      next
                    </button>
                  </div>
                </div>
                <div v-show="questionIndex === quiz.questions.length">
                  <h2>
                  Quiz finished
                </h2>
                  <p>
                    Total score: {{ score() }} / {{ quiz.questions.length }}
                  </p>
                </div>
              </div>

              <script src="main.js"></script>
</body>
</html>